.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.inputBox {
  width: 100%;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.submitButton {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;

  right: 0px;
  border: none;
  font-size: 15px;
  background-color: rgb(131, 115, 247);
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.submitButton:hover {
  background-color: rgba(131, 115, 247, 0.74);
  cursor: pointer;
}

.tasks {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.single-task {
  background-color: white;
  display: flex;
  padding: 10px;
  margin-top: 15px;
  transition: 0.4s;
  width: 60%;
}

.single-task:hover {
  transform: scale(1.03);
  background-color: rgba(131, 115, 247, 0.74);
  color: white;
  border: 1px solid white;
}

.single-task-text {
  flex: 1;
  padding: 3px;
  font-size: 20px;
}

.icon {
  position: relative;
  top: 5px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .single-task {
    width: 95%;
    margin-bottom: 10px;
  }
}
