@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(131, 115, 247);
}

.heading {
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  color: white;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
